@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container border border-muted rounded p-3 shadow">
    <div class="container bg-light">
        @for (int i = Model.Mail.Count - 1; i >= 0; i--)
        {
            <a class="mailbut" asp-page="Mail" asp-route-count="@i">
                <div class="row border-bottom p-2 mail">
                    <div class="col"><span>@Model.Mail[i].Email</span></div>
                    <div class="col"><span>@Model.Mail[i].Subject</span></div>
                    <div class="col text-right"><span>@Model.Mail[i].Date</span></div>
                </div>
            </a>
        }
    </div>
</div>