@page
@model WebMail.Pages.LoginModel
@{
}

<div class="container border border-muted shadow">
    <form method="post">
        <input type="text" asp-for="Email" />
        <input type="password" asp-for="Password" />
        <input type="submit"/>
    </form>
</div>